.carousel .carousel-item {
    width: 600px;
    height: 350px;
}

.carousel .carousel-item img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}